*
!public/
!.gitignore
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
public/uploads/*
composer.json
composer.lock
worker.log
bitbucket-pipelines.yml
.env.testing
.scannerwork

